/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.container {
    display: grid;
    grid-gap: 3px;
    height: 100vh;
    /* Ocupa toda la altura del viewport */
}

header {
    background-color: #6bffb8;
    padding: 20px;
    text-align: center;
    color: white;
}

nav {
    background-color: #ff5858;
    padding: 20px;
}

section {
    background-color: #a47ac0;
    padding: 20px;
}

main {
    background-color: #7d8834;
    padding: 20px;
}

footer {
    background-color: #147b7e;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Diseño para dispositivos móviles (por defecto) */
.container {
    grid-template-areas:
        "header"
        "nav"
        "section1"
        "main"
        "section2"
        "footer";
    grid-template-rows: 20% 10% 15% auto 15%  5%;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

section:nth-child(3) {
    grid-area: section1;
}

section:nth-child(4) {
    grid-area: section2;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* Diseño para tabletas */
@media (min-width: 768px) {
    .container {
        grid-template-areas:
            "header header"
            "nav nav"
            "section1 main"
            "section2 section2"
            "footer footer";
        grid-template-rows: 20% 10% auto 20% 5%;
        grid-template-columns: 30% auto;
    }
}

/* Diseño para escritorios */
@media (min-width: 1024px) {
    .container {
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "section1 main section2"
            "footer footer footer";
        grid-template-rows: 20% 10% auto 10%;
        grid-template-columns: 20% auto 20%;
    }
}