*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    padding: 20px;
    text-align: center;
}
.container{
    padding: 30px 10px;
    background-color: #62c2bb;
}
.card{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #edcaff;
    padding: 20px 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}